In [ ]:
from pydataset import data

In [ ]:
df = data('JohnsonJohnson')
df

       time  JohnsonJohnson
1   1960.00            0.71
2   1960.25            0.63
3   1960.50            0.85
4   1960.75            0.44
5   1961.00            0.61
6   1961.25            0.69
7   1961.50            0.92
8   1961.75            0.55
9   1962.00            0.72
10  1962.25            0.77
11  1962.50            0.92
12  1962.75            0.60
13  1963.00            0.83
14  1963.25            0.80
15  1963.50            1.00
16  1963.75            0.77
17  1964.00            0.92
18  1964.25            1.00
19  1964.50            1.24
20  1964.75            1.00
21  1965.00            1.16
22  1965.25            1.30
23  1965.50            1.45
24  1965.75            1.25
25  1966.00            1.26
26  1966.25            1.38
27  1966.50            1.86
28  1966.75            1.56
29  1967.00            1.53
30  1967.25            1.59
31  1967.50            1.83
32  1967.75            1.86
33  1968.00            1.53
34  1968.25            2.07
35  1968.50            2.34
36  1968.75            2.25
37  1969.00            2.16
38  1969.25            2.43
39  1969.50            2.70
40  1969.75            2.25
41  1970.00            2.79
42  1970.25            3.42
43  1970.50            3.69
44  1970.75            3.60
45  1971.00            3.60
46  1971.25            4.32
47  1971.50            4.32
48  1971.75            4.05
49  1972.00            4.86
50  1972.25            5.04
51  1972.50            5.04
52  1972.75            4.41
53  1973.00            5.58
54  1973.25            5.85
55  1973.50            6.57
56  1973.75            5.31
57  1974.00            6.03
58  1974.25            6.39
59  1974.50            6.93
60  1974.75            5.85
61  1975.00            6.93
62  1975.25            7.74
63  1975.50            7.83
64  1975.75            6.12
65  1976.00            7.74
66  1976.25            8.91
67  1976.50            8.28
68  1976.75            6.84
69  1977.00            9.54
70  1977.25           10.26
71  1977.50            9.54
72  1977.75            8.73
73  1978.00           11.88
74  1978.25           12.06
75  1978.50           12.15
76  1978.75            8.91
77  1979.00           14.04
78  1979.25           12.96
79  1979.50           14.85
80  1979.75            9.99
81  1980.00           16.20
82  1980.25           14.67
83  1980.50           16.02
84  1980.75           11.61

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
arr = df['time'].to_numpy()
arr = np.trunc(arr)
arr

array([1960., 1960., 1960., 1960., 1961., 1961., 1961., 1961., 1962.,
       1962., 1962., 1962., 1963., 1963., 1963., 1963., 1964., 1964.,
       1964., 1964., 1965., 1965., 1965., 1965., 1966., 1966., 1966.,
       1966., 1967., 1967., 1967., 1967., 1968., 1968., 1968., 1968.,
       1969., 1969., 1969., 1969., 1970., 1970., 1970., 1970., 1971.,
       1971., 1971., 1971., 1972., 1972., 1972., 1972., 1973., 1973.,
       1973., 1973., 1974., 1974., 1974., 1974., 1975., 1975., 1975.,
       1975., 1976., 1976., 1976., 1976., 1977., 1977., 1977., 1977.,
       1978., 1978., 1978., 1978., 1979., 1979., 1979., 1979., 1980.,
       1980., 1980., 1980.])

In [ ]:
df2 = pd.DataFrame({'ano': arr})
df2

       ano
0   1960.0
1   1960.0
2   1960.0
3   1960.0
4   1961.0
5   1961.0
6   1961.0
7   1961.0
8   1962.0
9   1962.0
10  1962.0
11  1962.0
12  1963.0
13  1963.0
14  1963.0
15  1963.0
16  1964.0
17  1964.0
18  1964.0
19  1964.0
20  1965.0
21  1965.0
22  1965.0
23  1965.0
24  1966.0
25  1966.0
26  1966.0
27  1966.0
28  1967.0
29  1967.0
30  1967.0
31  1967.0
32  1968.0
33  1968.0
34  1968.0
35  1968.0
36  1969.0
37  1969.0
38  1969.0
39  1969.0
40  1970.0
41  1970.0
42  1970.0
43  1970.0
44  1971.0
45  1971.0
46  1971.0
47  1971.0
48  1972.0
49  1972.0
50  1972.0
51  1972.0
52  1973.0
53  1973.0
54  1973.0
55  1973.0
56  1974.0
57  1974.0
58  1974.0
59  1974.0
60  1975.0
61  1975.0
62  1975.0
63  1975.0
64  1976.0
65  1976.0
66  1976.0
67  1976.0
68  1977.0
69  1977.0
70  1977.0
71  1977.0
72  1978.0
73  1978.0
74  1978.0
75  1978.0
76  1979.0
77  1979.0
78  1979.0
79  1979.0
80  1980.0
81  1980.0
82  1980.0
83  1980.0

In [ ]:
df['time'] = df2['ano']
df

      time  JohnsonJohnson
1   1960.0            0.71
2   1960.0            0.63
3   1960.0            0.85
4   1961.0            0.44
5   1961.0            0.61
6   1961.0            0.69
7   1961.0            0.92
8   1962.0            0.55
9   1962.0            0.72
10  1962.0            0.77
11  1962.0            0.92
12  1963.0            0.60
13  1963.0            0.83
14  1963.0            0.80
15  1963.0            1.00
16  1964.0            0.77
17  1964.0            0.92
18  1964.0            1.00
19  1964.0            1.24
20  1965.0            1.00
21  1965.0            1.16
22  1965.0            1.30
23  1965.0            1.45
24  1966.0            1.25
25  1966.0            1.26
26  1966.0            1.38
27  1966.0            1.86
28  1967.0            1.56
29  1967.0            1.53
30  1967.0            1.59
31  1967.0            1.83
32  1968.0            1.86
33  1968.0            1.53
34  1968.0            2.07
35  1968.0            2.34
36  1969.0            2.25
37  1969.0            2.16
38  1969.0            2.43
39  1969.0            2.70
40  1970.0            2.25
41  1970.0            2.79
42  1970.0            3.42
43  1970.0            3.69
44  1971.0            3.60
45  1971.0            3.60
46  1971.0            4.32
47  1971.0            4.32
48  1972.0            4.05
49  1972.0            4.86
50  1972.0            5.04
51  1972.0            5.04
52  1973.0            4.41
53  1973.0            5.58
54  1973.0            5.85
55  1973.0            6.57
56  1974.0            5.31
57  1974.0            6.03
58  1974.0            6.39
59  1974.0            6.93
60  1975.0            5.85
61  1975.0            6.93
62  1975.0            7.74
63  1975.0            7.83
64  1976.0            6.12
65  1976.0            7.74
66  1976.0            8.91
67  1976.0            8.28
68  1977.0            6.84
69  1977.0            9.54
70  1977.0           10.26
71  1977.0            9.54
72  1978.0            8.73
73  1978.0           11.88
74  1978.0           12.06
75  1978.0           12.15
76  1979.0            8.91
77  1979.0           14.04
78  1979.0           12.96
79  1979.0           14.85
80  1980.0            9.99
81  1980.0           16.20
82  1980.0           14.67
83  1980.0           16.02
84     NaN           11.61